root = true

[*.{diff,md}]
charset = UTF-8
end_of_line = LF
indent_style = TAB
indent_size = 4
trim_trailing_whitespace = FALSE

[*.html]
charset = UTF-8
end_of_line = LF
indent_style = TAB
indent_size = 4

[*.css]
charset = UTF-8
end_of_line = LF
indent_style = TAB
indent_size = 4

[*.js]
charset = UTF-8
end_of_line = LF
indent_style = TAB
indent_size = 4